/* EXTERNAL CSS */

/* selector(h,p){property:value; property:value;} */

/* Selector	         Example	     Example description
#id	              #firstname	    Selects the element with id="firstname"
.class	           .intro	        Selects all elements with class="intro"
element.class     	p.intro	        Selects only <p> elements with class="intro"
*	                   *	        Selects all elements
element              	p	         Selects all <p> elements
element,element,..  	div, p	      Selects all <div> elements and all <p> elements */

/* background-color
background-image
background-repeat
background-attachment
background-position
background */

body {
  /* background-image: url("xyz.gif"); */
  background-color: rgba(17, 137, 177, 0.3);
  opacity: 0.9;
  border: 10px double red;
}

h1 {
  color: rgb(11, 167, 42);
  text-align: centre;
}
p {
  font-family: verdana;
  font-size: 20px;
}

/* ID */
#para1 {
  text-align: centre;
  color: red;
  background-color: black;
}

/* CLASS */
.para1 {
  text-align: right;
  color: rgb(0, 0, 0);
  background-color: yellow;
}

p.para2 {
  text-align: left;
  color: brown;
  background-color: white;
}

p#para2 {
  text-align: end;
  color: rgb(255, 0, 0);
  background-color: chartreuse;
}

* {
  background-color: cornsilk;
}

/* .body {
  background-image: url("img_tree.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-repeat: repeat-y;
    background-attachment: fixed;scroll;
} */
