@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    max-width: 100%;
    background: linear-gradient(0.25turn, rgba(40, 176, 250), rgba(124, 219, 85), rgba(245, 118, 12));
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 80%;
    width: 100%;
    margin: auto;
    background: linear-gradient(0.25turn, rgba(40, 176, 250), rgba(124, 219, 85), rgba(245, 118, 12));
    padding: 2rem;
    border-radius: 8px;
}

.container h2{
    text-align: center;
    position: relative;
}

.container h2::before{
    content: '';
    position: absolute;
    left: 48%;
    bottom: -5px;
    height: 5px;
    width: 70px;
    background: linear-gradient(to right, #25549a, #50c4ed);
    border-radius: 50px;
}

.container .user_details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.user_details .input_box{
    width: calc(100% / 2 - 25px);
}

.input_box .title{
    font-size: 20px;
    font-weight: 500;
}

.input_box .icon{
    margin-bottom: 15px;
    position: relative;
}

.input_box .icon i {
    color: #555;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
    border-right: 2px solid #387adf;
    padding: 10px;
    font-size: 18px;
}

.input_box input{
    padding: 10px;
    padding-left: 50px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 2px solid #ffffff;
    font-size: 18px;
    box-shadow: 1px 1px 2px #387adf;
}



.container .terms_policy{
    margin: 1rem 0;
    text-align: center;
}

.container .terms_policy p{
    font-style: italic;
}

.container .terms_policy a{
    text-decoration: none;
    font-weight: 600;
    color: #124e65;
}

.container .button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .button button{
    padding: 8px 40%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(0.25turn, rgb(20, 100, 143), rgb(73, 141, 47), rgb(167, 86, 20));
}

.button button:hover{
    background: linear-gradient(to right, #387adf, #50c4ed);
}


@media screen and (max-width: 720px) {
    .container{
        max-width: 95%;
    }

    .user_details .input_box{
        width: 100%;
    }

    .container .user_details{
        max-height: 100vh;
        /* overflow-y: scroll; */
    }

    .user_gender .gender_category{
        width: 100%;
    }

    .container .user_details::-webkit-scrollbar{
        width: 0;
    }

    /* .container .terms_policy p{
        font-size: 12px;
    } */
}