/*   ------------------------------------------------------
   ----------------------- Animated Cards ---------------- 
   ------------------------------------------------------ */

/* * {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    gap: 5vw;
}

.animated_card,
.animated_card2 {
    display: grid;
    place-items: center;
    position: relative;
    height: 500px;
    width: 350px;
    background: #222;
    border-radius: 10px;
    cursor: pointer;
}

.animated_card::before {
    position: absolute;
    content: ' ';
    height: 500px;
    width: 350px;
    background: tomato;
    border-radius: 15px;
    z-index: -1;
    transition: 0.3s;
    animation: animate 2s linear infinite;
}

.animated_card:hover::before {
    height: 512px;
    width: 362px;
}

@keyframes animate {
    50% {
        filter: hue-rotate(350deg);
    }
}

.animated_card2 {
    overflow: hidden;
}

.animated_card2::before {
    position: absolute;
    content: ' ';
    width: 50%;
    height: 180%;
    background: #fff;
    transform: rotate(45deg);
}

.animated_card2:hover::before{
    animation: animate2 2s linear infinite;
}
@keyframes animate2{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.animated_card2::after{
    position: absolute;
    content: ' ';
    inset: 5px;
    background: #222;
    border-radius: 8px;
} */




/*   ------------------------------------------------------
   ----------------------- Glowing Button ---------------- 
   ------------------------------------------------------ */

/* 
  Project: CSS Glowing Button
  Created: Sunday, 06 March 2022
  Author: Jamshid Elmi 
  Tutorial: https://youtu.be/b_8fHNIHFk4
*/
html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    overflow: hidden;
    /* transform: scale(1.5); */
}

/* button */
.btn {
    margin: 100px;
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}

.btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* glow */
.btn::before {
    content: "";
    background: linear-gradient(45deg,
            #FF0000, #FF7300, #FFFB00, #48FF00,
            #00FFD5, #002BFF, #FF00C8, #FF0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* hover */
.btn:hover::before {
    opacity: 1;
}

.btn:active:after {
    background: transparent;
}

.btn:active {
    color: #000;
    font-weight: bold;
}