* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-size: larger;
}

section {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
}
button {
    width: 100px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
}