/* External CSS */

/* https://developer.mozilla.org/en-US/ */
/* h1 {
    color: rgb(218, 170, 170);
} */

/* Foreground Color */
button {
    color: brown;
}

/* Background Color */
body {
    background-color: rgb(59, 56, 56);
}

button {
    background-color: cyan;
}

/* SELECTORS

1. *{} Universal Selector
2. h1{}
3. #id_name{}
4. .class_name{}
    Class can be same but ID should be unique.
*/

/* Q.1 Create a simple div with an id "box". Add some text content inside the div. Set its background color to blue. */
#box {
    background-color: blue;
}

.heading{
    color: red;
}

button {
    background-color: cyan;
}

/* Text Properties 
text-align :left / right / center / start / end 
text-decoration :underline / none / overline / line-through */
p{
    text-align: right;
}